<div class="row">
    <div class = "col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
        <p id="nombre">{{persona.nombre}}{{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
        <span>
            <h1>Acerca de mi</h1>
            <p id="aboutme">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla cumque ab impedit aperiam! Maxime, quaerat ratione assumenda aliquam quas impedit a debitis nesciunt, saepe in ad ex. Molestias, reiciendis?</p>
        </span>
    </div>
</div>