.row{
    background-color: rgb(12, 12, 12) ;
}

footer{
    padding-top: 40px;
    color: aliceblue;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px  red ;
}